<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="ion-page">
</div> -->

<ion-content class="ion-padding">
  <ion-list>
<ion-item>
  <ion-thumbnail slot="start">
    <ion-img src="../../../assets/panel-domestico.jpg"></ion-img>
  </ion-thumbnail>

  <ion-label class="ion-text-wrap">
    <b>Panel domestico</b>
    <div>
      $5,799.00
    </div>
  </ion-label>
  <ion-button [routerLink]="['/menu/cotizar']" shape="round" color="success">
    <ion-icon class="me-2" name="calculator-outline"></ion-icon>
    Cotizar
  </ion-button>
  <!-- <ion-row slot="end" class="ion-no-padding ion-align-items-center">
    <ion-col size="5">
      <ion-button fill="clear">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="2">
      
    </ion-col>

    <ion-col size="5">
      <ion-button fill="clear">
        <ion-icon name="remove" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row> -->

</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <ion-img src="../../../assets/panel-miniempresa.jpg"></ion-img>
  </ion-thumbnail>

  <ion-label class="ion-text-wrap">
    <b>Panel negocio</b>
    <div>
      $17,049.00
    </div>
  </ion-label>
  <ion-button [routerLink]="['/menu/cotizar']" shape="round" color="success">
    <ion-icon class="me-2" name="calculator-outline"></ion-icon>
    Cotizar
  </ion-button>

</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <ion-img src="../../../assets/panel-empresa.jpg"></ion-img>
  </ion-thumbnail>

  <ion-label class="ion-text-wrap">
    <b>Panel empresa</b>
    <div>
      $81,999.00
    </div>
  </ion-label>
  <ion-button [routerLink]="['/menu/cotizar']" shape="round" color="success">
    <ion-icon class="me-2" name="calculator-outline"></ion-icon>
    Cotizar
  </ion-button>

</ion-item>
</ion-list>
</ion-content>





<!-- <ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-img src="../../../assets/panel-domestico.jpg"></ion-img>
      <ion-card-header>
        <ion-title>Panel domestico</ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>Panel solar para uso de casa habitacion cristal.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/panel-domestico.jpg"></ion-img>
      <ion-card-header>
        <ion-title>Panel 1</ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>Panel solar domestico</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/panel-domestico.jpg"></ion-img>
      <ion-card-header>
        <ion-title>Panel 1</ion-title>
      </ion-card-header>
      <ion-card-content>
        <p>Panel solar domestico</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->

